:root {
  --color-blue: theme('colors.blue.light');
  --color-gray: theme('colors.gray.light');
}

.dark-mode {
  --color-blue: theme('colors.blue.dark');
  --color-gray: theme('colors.gray.dark');
}

.chart-card {
  color: var(--color-blue); 
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 1rem; 
  margin: 1rem; 
}

.tooltip-content {
  color: var(--color-gray);
}


.week-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  margin-top: 1rem;
}


.charts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 1rem; 
}