.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.modal-content {
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}

.modal-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  padding-top: 10px;
}

body.dark-mode .modal {
  background-color: #333;
  color: white;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

body.dark-mode .modal-content {
  color: white;
}

body.dark-mode .modal-header {
  border-bottom: 1px solid #555;
}

body.dark-mode .modal-close-button {
  color: white;
}

body.dark-mode .modal-body {
  color: white;
}