.my-customer-container {
  margin-top: 3.5rem;
  margin-left: 4rem;
}

.my-customer-form {
  max-width: 30rem;
  margin: 0 auto 2rem;
}

.my-customer-relative {
  position: relative;
}

.my-customer-icon {
  position: absolute;
  inset-y: 0;
  start: 1;
  display: flex;
  align-items: center;
  padding-start: 2.75rem;
  pointer-events: none;
  width: 2.5rem;  /* Adjust the width as needed */
  height: 2.5rem; /* Adjust the height as needed */
}

.my-customer-input {
  display: block;
  width: 150%;
  padding: 1rem 1.75rem 1rem 0.5rem;
  font-size: 1.25rem;
  color: #e0e2e3;
  border: 1px solid #d1d5db;
  border-radius: 1.5rem;
  background-color: #f9fafb;
  &:focus {
    ring: 1px solid #3b82f6;
    border-color: #3b82f6;
  }
  &.dark {
    background-color: #374151;
    border-color: #4b5563;
    placeholder-color: #9ca3af;
    color: #f9fafb;
    &:focus {
      ring: 1px solid #3b82f6;
      border-color: #3b82f6;
    }
  }
}

.my-customer-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  margin: 1rem;
}

.my-customer-card {
  max-width: 40rem; /* Adjusted size */
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  &.dark {
    background-color: #1f2937;
    border-color: #fdfeff;
  }
}

.my-customer-image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.my-customer-content {
  padding: 2rem; /* Adjusted padding */
}

.my-customer-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #4b5563; /* Adjusted color for light mode */
  &.dark {
    color: #f9fafb;
  }
}