.dialog-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(24, 117, 255, 0.4);
  transition: all 0.3s ease-in-out;
}

body.dark-mode .dialog-container {
  color: white;
}

.dialog-title {
  background-color: white;
}

body.dark-mode .dialog-title {
  background-color: #333;
  color: #fff;
}

.ticket-info {
  margin-bottom: 1px;
  margin-top: 1px;
}

body.dark-mode .ticket-info {
  color: white;
}

.ticket-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 400;
}

.ticket-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 400;
  color: #1875ff;
}

.ticket-details {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.ticket-detail {
  border: 1px solid var(--border-color);
  padding: 1px;
  box-sizing: border-box;
  width: calc(50% - 20px);
  border-radius: 10px;
  background-color: var(--background-color);
}

body.dark-mode .ticket-detail {
  color: white;
}

.ticket-detail strong {
  font-weight: bold;
  margin-right: 5px;
}

.full-width {
  width: 100%;
}

.user-activity {
  margin-top: 30px;
}

body.dark-mode .user-activity {
  color: white;
}

.user-activity h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 600;
}

.activity-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.activity-field {
  width: calc(50% - 20px);
  margin-bottom: 10px;
}

.activity-field.full-width {
  width: 100%;
}

.activity-field label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: block;
  font-weight: 600;
}

.activity-field textarea {
  resize: vertical;
}

.clock-and-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 1px;
}

.timer-controls {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}

.button-status-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1px;
  padding-bottom: 1px;
  width: 100%;
  margin-left: 1%;
}

.status-container {
  margin-right: 1rem;
  width: 100%;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  border-radius: 50%;
  background: linear-gradient(135deg, #d0aaaa, #072c63);
  color: white;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  box-shadow: 0px 8px 16px rgba(24, 117, 255, 0.4);
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
}

.icon-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 24px rgba(78, 101, 137, 0.6);
}

body.dark-mode .icon-button {
  background: linear-gradient(135deg, #005f99, #0c57a1);
  box-shadow: 0px 8px 16px rgba(0, 95, 153, 0.4);
}

body.light-mode .icon-button {
  background: linear-gradient(135deg, #1e90ff, #1875ff);
  box-shadow: 0px 8px 16px rgba(24, 117, 255, 0.4);
}

.section-divider {
  border-bottom: 4px solid gray;
  margin: 10px 0;
}

.ticket-detail {
  border: 1px solid var(--border-color);
  padding: 10px;
  box-sizing: border-box;
  width: calc(50% - 20px);
  border-radius: 10px;
  background-color: var(--background-color);
  margin-bottom: 15px;
}

.ticket-detail strong {
  font-weight: bold;
  margin-right: 5px;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  align-items: right;
  justify-content: space-between;
}

.icon-button-square {
  height: 40px;
  width: 40px;
}

.total-time-box {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--background-color);
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  border: 2px solid #1e146c;
  border-radius: 6px;
  background-color: var(--tag-background-color);
  cursor: pointer;
  color: var(--tag-text-color);
}

.tag-input {
  padding: 4px 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  flex-grow: 1;
  min-width: 100px;
}

.ticket-detail.full-width {
  width: 100%;
}

body.dark-mode {
  .ticket-info,
  .user-activity,
  .clock-and-controls,
  .timer-controls,
  .button-status-container,
  .status-container,
  .icon-button,
  .section-divider,
  .ticket-detail,
  .full-width,
  .button-container,
  .icon-button-square,
  .total-time-box,
  .tags-container,
  .tag,
  .tag-input,
  .ticket-detail.full-width {
    background-color: gray;
    color: white;
  }

  input,
  select,
  textarea {
    background-color: #333;
    color: white;
    border: 1px solid #555;
  }
}